.profile-card {
background-color: grey;
}

.head {
background-color: gba(231,210,204,0.39);
  color: grey;
  letter-spacing: 0.125rem;
  line-height: 2;
}

.content {
  background-color: grey;
  color: ivory;
  line-height: 1;
}
.about {
  background-color: #B9B7BD;
  text-align: justify;
  box-sizing: border-box;
  padding: 0.625rem;
  color: white;
 }
.name-headline {
background-color:rgba(231,210,204,0.39);
font-family: 'Roboto Slab', serif;
margin-top: -3.75rem;
padding-top: 3.4375rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin-bottom: 1rem;
}

.profile-card {
  width: 380vw;
  max-width: calc(100vw - 0.625rem);
  margin-top: -0.625rem;
}
body {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ivory;
  background-size: cover;
}

.head, .links {
  text-align: center;
  
}
.head, .content {
  width: 40%;
  margin: 0 auto;
}
@media(max-width:420px) {
  .head, .content {
    height: 40%;
   }
}
.head{
margin-top: 60px; 
}
.content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}
.head, .about {
  margin-bottom: 10%;
}

.profile-image {
  margin-top: -2.5rem;
}
img {
  width: 60%;
  height: 60%;
  background-color: #666;
  filter: grayscale(20%);
  transition: all 0.5s ease-in-out;
  margin-top: -0.625rem;
}
img:hover {
  transform: scale(1.1);
 -webkit-box-shadow: 16px -1px 42px 7px #858585; 
box-shadow: 16px -1px 42px 7px #858585;
}
.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 0.5rem;
  box-shadow: 1px 10px 15px 5px #858585;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}
h1{
  font-size: 1.125rem;
  letter-spacing: 0.625rem;
  font-weight: bold;
 }
h2{
  font-size: 0.875rem;
  letter-spacing: 0.25rem;
  color: #c9c9be;
}
#hobby{
text-align: center;
color: #c9c9be;

}
#contact{
  color: #c9c9be;
  font-size: 1rem;
}
.name-headline {box-shadow:-webkit-box-shadow: 1px 10px 15px 5px #858585; 
box-shadow: 1px 10px 15px 5px #858585;
padding-top: 3.125rem;
}
.bottom{
  margin-top: -1.5625rem;
  margin-bottom: 1.5625rem;
}
#location{
  font-size: 0.625rem;
  color: #bfbfbf;
  color: ivory;
  font-weight: bold;
}

